.card-config {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
}

.option ha-icon-picker,
.option ha-selector,
.option ha-textfield {
  width: 100%;
}
